/* .static-row{
    background:#0A0C1A ;
    color: #fff;
    border-radius: 5px;
}
.liveBet-col{
    display: flex;
    justify-content: center;

}
h6 {
    font-size: 1em;
}
.light-color{
    color: #fff;
    opacity: 0.5;
}
.green{
    color: rgb(9, 199, 9);
} */